/* 
font-family: 'Merriweather', serif;
font-family: 'Merriweather Sans', sans-serif;
*/

.labelColor{
  color:rgba(103, 137, 125, 0.7)
}


.background1{
  background-color: rgb(235, 240, 238);
  color:#121715;
  font-family: 'Merriweather', serif;
  height: 50rem;
  padding: 8px;
  
}

.background{
  background-color: rgb(235, 240, 238);
  color:#121715;
  font-family: 'Merriweather', serif;
  height: 50rem;
  padding: 8px;
  
}

h1{
  background: linear-gradient(120deg,#b6c8c2,#67897d);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.YonniLogo{
  height: 180px;
  width: 180px;
  animation: Yonni-Book-Logo-spin infinite 20s linear
}

@keyframes Yonni-Book-Logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} 


.BtnA{
  color:#121715;
  border: none;
  background-color: #b6c8c2;
  margin: 2px;
}

.BtnA:hover{
  background-color: #67897d;
  transition: 1s;
}

.BtnB{
  border: none;
  background-color: #67897d;
  margin: 2px;
}
.BtnB:hover{
  background-color: #121715;
  color: #67897d;
  transition: 1s;
}

.flexColumn{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}



.flex{
  display: flex;
  align-items: center;
  justify-content: center;
}

.inputStyle{
  margin-left: 3px;
  margin-right: 5px;
  border: 1px solid rgb(187, 187, 187)
}

@media (max-width:500px) {
  .background{
    display: flex;
    flex-direction: column;
    height: 100rem;
  }
  .addBook {
      display: flex;
      flex-direction: column;
      justify-content: center;
      margin-bottom: 20px;
  }
}



@media (min-width: 501px)  and (max-width: 915px) {
  .background{
    height: 70rem;
}}

@media (max-width:1048px){
  .mainTitle{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 2rem;
}
}